.metamaskBtn {
  width: 400px;
  height: 40px;
  margin-bottom: 24px;
  color: #4db069;
  background: #3b3b3b;
  border: 1px solid #4db069;
  box-sizing: border-box;
  border-radius: 5px;
  transition-duration: 0.2s;
}
.metamaskBtn:hover {
  border: 1px solid #fff;
  color: #fff;
}
